mixin sExpertise(data)
	// start sExpertise
	+b.sExpertise#sExpertise&attributes(attributes)
		.container
			+e.inner
				+e.top
					+e.img-wrap.bg-wrap
						img.res-i(src=`img/@2x/ourTeam-1.png`, alt="")
					+e.heading
						+e.subtitle Мнение эксперта
						+e.title Ника Сафонова — Владелец TikTok канала
				p На&nbsp;сайте вы&nbsp;можете разместить всю информацию о&nbsp;бренде, ваших продуктах и&nbsp;услугах. В&nbsp;России интернет является вторым источником информации, после телевидения и&nbsp;поэтому растет спрос на&nbsp;соответствующий контент и&nbsp;услуги (монтаж видео, проведение фотосессии, SMM-менеджер)
				
	// end sExpertise