mixin footer()
	+b.FOOTER.footer.block-with-lazy
		+e.main
			.container
				.row
					.col-md-auto
						+e.logo(href="/")
							img(src="img/svg/logo-white.svg", alt="" loading="lazy")
							//- +pic('logo-white.png','','')
						+e.location г. Белгород, ул. Гражданский проспект 29а
						+e.tel(href="tel:+79440000000") +7 (944) 000-00-00
					.col-md-6.col-lg.col-xl-3
						+e.listRow.row 
							.col.col-xl-7
								+e.title УСЛУГИ
								ul 
									li: a(href="#")  Создание сайта
									li: a(href="#")  Дизайн и контент
									li: a(href="#")  Продвижение
									li: a(href="#")  Поддержка
							.col-sm
								+e.title О нас
								ul 
									li: a(href="#")  Компания
									li: a(href="#")  Вакансии
									li: a(href="#")  Награды
					.col-sm-6.col-md-4.col-lg-4.col-xl.text-center
						+e.btn(href="#") заполнить бриф
						+e.whrite или напишите нам
						+e.mail(href="mailto:BOX@DIGGET.ORG" target="_blank") BOX@DIGGET.ORG
					.col-md-6.col-xl-3
						+e.title МЫ В СОЦСЕТЯХ
						+soc()
		+e.foot 
			.container 
				.row.justify-content-between
					.col-lg-auto 
						+e.dev © 2012 – #[span.currentYear ], DIGGET Диджитал студия для Вашего бизнеса
					.col-lg-auto 
						+e.polite(href="#" target="_blank") Политика обработки персональных данных