// start .sCard
.sCard {
	--sPT: ;
	--sPB: ;
	--sTPB: ;

	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sCard

.card-item {
	--size: #{rem(24)};
	// height: 100%;
	min-height: calc(100% - var(--bs-gutter-x));
	margin-bottom: var(--bs-gutter-x);
	// @include media-breakpoint-up(md) {
	// 	--size: #{rem(24)};
	// }
	@include media-breakpoint-up(xl) {
		--size: #{rem(32)};
	}
	// margin-bottom: var(--size);

	h6 {
		margin-bottom: calc(var(--size) * 0.5);
	}
	a {
		text-decoration: none;
	}
	p {
		color: #2c2f34;
		font-family: PT Sans;
		// flex-grow: 1;
		font-weight: normal;
		&:last-child {
			margin-bottom: 0;
		}
	}
	div {
		font-family: PT Sans;
	}
	.card-item__img-wrap {
		@include block;
		overflow: hidden;
		width: 100%;
		height: auto;
		border-radius: var(--img-bd-radius, 50%);
		background-color: var(--img-bg-color, #f8f8f9);
		margin-bottom: calc(var(--size) * 0.5);
		// margin-left: auto;
		// margin-right: auto;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
	&--vertical {
		display: flex;
		flex-direction: column;
		.card-item__img-wrap {
			max-height: rem(380);
			border-radius: var(--img-bd-radius, 50%);
			background-color: var(--img-bg-color, #f8f8f9);
		}
	}
	&--colored {
		display: flex;
		flex-direction: column;
		position: relative;
		background-color: var(--item-bg-color, #fff6ec);
		border-radius: 8px;
		padding: var(--size);
		.card-item__img-wrap {
			--ratio: 0;
			border-radius: 0;
			background-color: transparent;
			margin-bottom: 0;
			overflow: visible;
			@include media-breakpoint-up(md) {
				--ratio: 1;
				@include a-cent;
				position: absolute;
				width: calc(100% + var(--bs-gutter-x) * 2);
				top: 0;
				left: calc(-1 * var(--bs-gutter-x));
				height: 100%;
			}

			img {
				position: relative;
				@include media-breakpoint-up(md) {
					position: absolute;
					right: 0;
					top: 0;
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
		}
		h2 {
			margin-bottom: calc(var(--size) * 0.5);
		}
		h6 {
			margin-bottom: calc(var(--size) * 0.25);
		}
		.card-list {
			ul,
			ol {
				padding: 0;
				margin: 0;
			}
		}
	}
	&--horisontal {
		display: flex;
		align-items: flex-start;
		// height: 100%;
		.card-item__img-wrap {
			min-width: rem(77);
			max-width: rem(77);
			margin-right: calc(var(--size) * 0.5);
			margin-bottom: 0;
			border-radius: var(--img-bd-radius, 50%);
			background-color: var(--img-bg-color, #f8f8f9);
		}
		.card-item__caption {
			height: 100%;
			padding-top: calc(var(--size) * 0.5);
			display: flex;
			flex-direction: column;
		}
	}
}

// start .sList
.card-list {
	font-family: PT Sans;
	--size: #{rem(16)};
	@include media-breakpoint-up(md) {
		--size: #{rem(24)};
	}
	ul,
	ol {
		list-style: none;
		font-size: rem(15);
		line-height: 170%;
		color: #2c2f34;
		padding: var(--size);
		border-radius: 8px;
		background-color: var(--list-bg-color, #ffffff);

		li {
			position: relative;
		}
	}

	ul {
		li {
			padding-left: rem(18);
			&::before {
				content: "";
				position: absolute;
				// @include a-cent(y);
				top: 8px;
				width: 6px;
				height: 6px;
				left: 0;
				border-radius: 50%;
				background-color: var(--pseudo-bg-color, #ffba72);
			}
		}
	}

	ol {
		counter-reset: num;
		li {
			padding-left: rem(31);
			&::before {
				content: counter(num);
				counter-increment: num;
				// @include a-cent(y);
				position: absolute;
				top: 4px;
				left: calc(17px / 2);
				transform: translateX(-50%);
				height: 17px;
				font-size: 10px;
				line-height: 170%;
				color: $white;
				z-index: 10;
			}
			&::after {
				content: "";
				position: absolute;
				// @include a-cent(y);
				top: 4px;
				left: 0;
				width: 17px;
				height: 17px;
				border-radius: 50%;
				background-color: var(--pseudo-bg-color, #ffba72);
			}
		}
	}
} // end.sList

.row--cards {
	--bs-gutter-x: #{rem(25)};
	// --bs-gutter-y: calc(var(--bs-gutter-x) * 1.2);
}

.entry-content {
	p {
		font-family: PT Sans;
	}
}
