
mixin sAdvantages(data)
	// start sAdvantages
	+b.SECTION.sAdvantages.section#sAdvantages&attributes(attributes)
		.container
			.row.align-items-end
				.col-xl-6 
					+b.section-title
						h2 Создание и&nbsp;продвижение сайтов в&nbsp;Белгороде
					+e.txtRow.row 
						+e.txtCol.col-md
							p Над разработкой сайта трудится целая команда специалистов. Следующим шагом идет продвижение сайта, которое включает в&nbsp;себя целый комплекс решений (например, SMM, реклама Яндекс.Директ или SEO продвижение), для привлечения клиентов. 
							p Поддержка и&nbsp;периодический анализ сайта, также являются неотъемлемой частью продвижения.
						.col
							p На&nbsp;сайте вы&nbsp;можете разместить всю информацию о&nbsp;бренде, ваших продуктах и&nbsp;услугах. В&nbsp;России интернет является вторым источником информации, после телевидения и&nbsp;поэтому растет спрос на&nbsp;соответствующий контент и&nbsp;услуги (монтаж видео, проведение фотосессии, SMM-менеджер) 
							p С&nbsp;каждым днем растет количество бизнесов, которые озадачены продвижением своего бизнеса в&nbsp;интернете. Быстрое продвижение сайта в&nbsp;ТОП&nbsp;&mdash; это ваша возможность увеличить свою прибыль за&nbsp;счет интернета.
				
				+e.col.col-md-6.col-xl-3 
					+e.item--lg(style="background: #FFF6EC;")
						+e.year 2020
						h4 год заставил оцифроваться всех, кто не&nbsp;хотел потерять бизнес.
				+e.col.col-md-6.col-xl-3 
					+e.item(style="background: #F2F6FF;")
						+e.flyQuote 
							+icon('quote')
						h4 #[span.text-info Сайт&nbsp;&mdash;] это один из&nbsp;самых быстрых и&nbsp;эффективных способов заявить о&nbsp;своей компании на&nbsp;весь мир.
	// end sAdvantages