.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-basket {
	font-size:(24/10)*1rem;
	width:(22/24)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-chevron-right {
	font-size:(8/10)*1rem;
	width:(6/8)*1em;
}
.icon-chevron-right-white {
	font-size:(34/10)*1rem;
	width:(20/34)*1em;
}
.icon-document {
	font-size:(21/10)*1rem;
	width:(21/21)*1em;
}
.icon-fb {
	font-size:(24/10)*1rem;
	width:(13/24)*1em;
}
.icon-instagram {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-pattern {
	font-size:(184/10)*1rem;
	width:(184/184)*1em;
}
.icon-question {
	font-size:(327/10)*1rem;
	width:(250/327)*1em;
}
.icon-quote {
	font-size:(82/10)*1rem;
	width:(91/82)*1em;
}
.icon-square {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-swiper-chevron-right {
	font-size:(28/10)*1rem;
	width:(16/28)*1em;
}
.icon-telegram {
	font-size:(18/10)*1rem;
	width:(22/18)*1em;
}
.icon-viber {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-vk {
	font-size:(16/10)*1rem;
	width:(27/16)*1em;
}
.icon-whatsapp {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
