// start .sWeMake
.sWeMake {
	--sPT: 0;
	--sPB: calc(var(--size) * 1.3);
	--sTPB: ;
	--size: #{rem(16)};
	position: relative;
	z-index: 20;
	margin-top: -150px;
	@include media-breakpoint-up(lg) {
		--size: #{rem(24)};
	}
	.row {
		--bs-gutter-x: var(--size);
		@include media-breakpoint-down(lg) {
			flex-wrap: nowrap;
		}
	}
	.wavesBlock {
		margin-top: -108px;
		@include media-breakpoint-up(lg) {
			margin-top: -125px;
		}
	}


	&__item {
		padding: var(--size);
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		background: #ffffff;
		height: 100%;
		box-shadow: 1px 2px 0px #dadada, 8px 12px 12px #f0f0f1;
		border-radius: 8px;
		@include media-breakpoint-up(lg) {
			height: calc(100% - var(--size));
			margin-bottom: var(--size);
		}
		@include media-breakpoint-up(xl) {
			flex-direction: row-reverse;
			justify-content: space-between;
		}
		img {
			// position: absolute;
			// top: var(--size);
			// right: var(--size);
			width: 30px;
			height: 30px;
			margin-bottom: calc(var(--size) * 0.4);
			@include media-breakpoint-up(xl) {
				width: 24px;
				height: 24px;
				margin-bottom: 0;
			}
		}
		p {
			font-weight: 500;
			color: #2c2f34;
			margin-bottom: 0;
			font-size: rem(15);
			margin-top: auto;
			margin-bottom: auto;
			@include media-breakpoint-up(xl) {
				font-size: rem(16);
				margin-right: calc(var(--size) * 0.5);
			}
			@include media-breakpoint-up(xxl) {
				font-size: rem(18);
				margin-right: calc(var(--size) + 2px);
			}
			span {
				position: relative;
				display: inline-block;
				z-index: 20;
				&::before {
					content: "";
					position: absolute;
					z-index: -1;
					bottom: 2px;
					left: -1%;
					width: 102%;
					height: rem(5);
					background-color: #ffba72;
					@include media-breakpoint-up(xxl) {
						left: -2.5%;
						width: 105%;
						bottom: 3px;
						height: rem(7);
					}
				}
			}
		}
	}
	.col-auto {
		width: 270px;
		@include media-breakpoint-up(sm) {
			width: 350px;
		}
		@include media-breakpoint-up(lg) {
			width: 30%;
		}
		&:nth-child(3n + 2) {
			@include media-breakpoint-up(lg) {
				width: 40%;
			}
		}
	}

	.swiper-wrapper {
		width: auto;
		margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
		.swiper-slide {
			height: auto;
		}
		@include media-breakpoint-up(lg) {
			transform: none !important;
		}
	}

	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sWeMake
