mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			.row
				.col-auto
					+b.section-title
						+e.iconWrap
							+icon('pattern')
						+e.imgWrap
							img(src="img/svg/headerBlock-circle.svg", alt="")
						h1 Улучшаем #[span ключевые показатели] бизнеса в&nbsp;digital, и&nbsp;не&nbsp;только
					+e.btn(href="#") заполнить бриф
				.col.d-none.d-lg-block
					+e.shedule
						+pic('schedule.png','','')
						//- img.res-i(src="img/svg/schedule.svg", alt="")
			+b.headerSquares.fly-items-js
				+e.orange--lg(data-depth="0.2")
					+icon('square')
				+e.orange--sm(data-depth="0.5").d-none.d-md-block
					+icon('square')
				+e.green--sm(data-depth="0.1").d-none.d-md-block
					+icon('square')
				+e.green--lg(data-depth="0.3").d-none.d-md-block
					+icon('square')
				+e.blue--sm(data-depth="0.4")
					+icon('square')
				+e.blue--lg(data-depth="0.6").d-none.d-md-block
					+icon('square')


	// end headerBlock

mixin headerBlock-landing()
	// start headerBlock-landing
	+b.headerBlock--landing.section#headerBlock&attributes(attributes)
		.container
			.row
				.col-auto.col-xxl
					+b.section-title
						+e.iconWrap
							+icon('pattern')
						+e.imgWrap
							img(src="img/svg/headerBlock-circle.svg", alt="")
						h1 Создание одностраничного сайта #[span Landing Page] под ключ
						+e.subtitle Создадим, запустим, настроим рекламу на ваш одностраничный сайт Landing Page, под ключ
					+e.btn(href="#") Заказать лендинг
				.col.col-xxl-auto.col-xxxl-7.text-center
					+e.darts
						+pic('darts.png','','')
						//- img.res-i(src="img/svg/schedule.svg", alt="")
			+b.headerSquares-land.fly-items-js.d-none.d-md-block
				+e.orange--lg(data-depth="0.5")
					+icon('square')
				+e.orange--md(data-depth="0.4")
					+icon('square')
				+e.orange--xs(data-depth="0.2")
					+icon('square')
				+e.green--lg(data-depth="0.6")
					+icon('square')
				+e.green--sm1(data-depth="0.3")
					+icon('square')
				+e.green--sm2(data-depth="0.3")
					+icon('square')
				+e.green--xs(data-depth="0.2")
					+icon('square')
				+e.blue--lg1(data-depth="0.5")
					+icon('square')
				+e.blue--lg2(data-depth="0.5")
					+icon('square')
				+e.blue--sm1(data-depth="0.3")
					+icon('square')
				+e.blue--sm2(data-depth="0.2").d-none.d-xxxl-block
					+icon('square')


	// end headerBlock-landing