mixin sCases(data)
	// start sCases
	+b.SECTION.sCases.section#sCases&attributes(attributes)
		.container
			+b.section-title
				h1 Кейсы студии
				p Подберем решение и для вашего проекта.
			.tabs
				//- .tabs.tabs--js
				.tabs__caption
					//- .tabs__caption.d-none.d-md-flex
					.tabs__btn.active
						span Все кейсы
					.tabs__btn
						span Все кейсы
					.tabs__btn
						span Создание сайтов
					.tabs__btn
						span Создание сайтов
				.tabs__wrap
					.tabs__content.active
						.row
							mixin item(t, h)
								.col-sm-6.col-md-4
									+e.item(href="#")
										+e.img-wrap.bg-wrap
											img.img-bg(src=`img/@2x/cases.png`, alt="")
										+e.text
											+e.subtitle!= t
											h6!= h
							- for (let i = 1; i < 5; i++)
								+item(`Дизайн`, `Создание одностраничного сайта Landing Page под ключ`)
					.tabs__content
						.row
							- for (let i = 1; i < 5; i++)
								+item(`Дизайн`, `Создание одностраничного сайта Landing Page`)
					.tabs__content
						.row
							- for (let i = 1; i < 5; i++)
								+item(`Дизайн`, `Создание одностраничного сайта`)
					.tabs__content
						.row
							- for (let i = 1; i < 5; i++)
								+item(`Дизайн`, `Создание сайта Landing Page под ключ`)

	// end sCases