extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sBrif/_sBrif.pug
include ../blocks/sHowWeWork/_sHowWeWork.pug
include ../blocks/sOurTeam/_sOurTeam.pug
include ../blocks/sQuestions/_sQuestions.pug
include ../blocks/sProblem/_sProblem.pug
include ../blocks/sAdvantages/_sAdvantages.pug
include ../blocks/sAdditServise/_sAdditServise.pug
include ../blocks/sExpertise/_sExpertise.pug
include ../blocks/sList/_sList.pug
include ../blocks/sInfo/_sInfo.pug
include ../blocks/sFamiliar/_sFamiliar.pug
include ../blocks/sWeMake/_sWeMake.pug
include ../blocks/sFastWay/_sFastWay.pug
include ../blocks/sOpportunity/_sOpportunity.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'digget'
	title= title
block pagecontent

	+mob-mnu()
	+header()
		+top-nav()
		+headerBlock-landing()
	+sWeMake
	+sFastWay
	+sOpportunity
	//- +sHowWeWork
	//- //- +sOurTeam
	+sFamiliar
	+sAdvantages-landing
	.container
		.row
			.col-md-6
				+sList(``, `Список Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis vitae harum sint excepturi magni eius, porro voluptate tenetur ea, non optio laudantium exercitationem doloribus cupiditate necessitatibus quisquam magnam quis accusantium!`, `Список`, `Список`, `Список`)
			.col-md-6
				+sList(`ol`, `Список Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis vitae harum sint excepturi magni eius, porro voluptate tenetur ea, non optio laudantium exercitationem doloribus cupiditate necessitatibus quisquam magnam quis accusantium!`, `Список`, `Список`, `Список`)
	.container
		+sInfo
	.container
		.row
			.col-md-6
				+sList(``, `Список Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis vitae harum sint excepturi magni eius, porro voluptate tenetur ea, non optio laudantium exercitationem doloribus cupiditate necessitatibus quisquam magnam quis accusantium!`, `Список`, `Список`, `Список`).with-bg.success
			.col-md-6
				+sList(``, `Список Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis vitae harum sint excepturi magni eius, porro voluptate tenetur ea, non optio laudantium exercitationem doloribus cupiditate necessitatibus quisquam magnam quis accusantium!`, `Список`, `Список`, `Список`).with-bg.danger

	+sQuestions-landing
	+sExpertise
	+sAdditServise
	//- +sProblem(class="d-none d-md-block")
	+footer()
	


	