mixin sInfo(data)
	// start sInfo
	+b.sInfo#sInfo&attributes(attributes)
		+e.img-wrap
			+icon('info-1')
		p На&nbsp;сайте вы&nbsp;можете разместить всю информацию о&nbsp;бренде, ваших продуктах и&nbsp;услугах. В&nbsp;России интернет является вторым источником информации, после телевидения и&nbsp;поэтому растет спрос на&nbsp;соответствующий контент и&nbsp;услуги (монтаж видео, проведение фотосессии, SMM-менеджер)
	// end sInfo