// start .sFeedback
.sFeedback {
	--sPT: ;
	--sPB: ;
	--sTPB: ;
	.section-title {
		h1 {
			font-weight: bold;
			margin-bottom: rem(20);
			@include rfs(48);
			@include media-breakpoint-up(xxl) {
				font-size: rem(48);
			}
			line-height: (63 / 48);
		}
		p {
			font-family: PT Sans;
			font-weight: normal;
			font-size: rem(15);
			line-height: (19 / 15);
			color: #000000;
			max-width: 890px;
			margin-bottom: rem(20);
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__item {
		--size: #{rem(16)};
		@include media-breakpoint-up(md) {
			--size: #{rem(24)};
		}
		@include media-breakpoint-up(lg) {
			--size: #{rem(32)};
		}
		margin-top: rem(17);
		max-width: 1302px;
		padding: var(--size);
		background-color: #f8f8f9;
		border-radius: 8px;
	}
	&__text {
		p {
			font-family: PT Sans;
			font-size: rem(18);
			line-height: 150%;
			color: #000000;
			margin-bottom: var(--size);
		}
	}

	
	&__img-wrap {
		position: relative;
		width: 223px;
		height: calc(293px - var(--size) - 17px);
		overflow: visible;
			margin-bottom: var(--size);
		// margin-bottom: calc(var(--size) * 2);
		// @include media-breakpoint-up(md) {
		// }
		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
		}
	}

	&__img {
		width: 100%;
		height: 293px;
		position: absolute;
		border-radius: 8px;
		overflow: hidden;
		left: 0;
		top: calc(-1 * var(--size) - 17px);
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			left: 0;
			top: 0;
		}
	}

	&__footer-img {
		@include block(193 / 49);
		overflow: hidden;
		max-width: rem(193);
		height: auto;
		background-color: #c4c4c4;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}

	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sFeedback

.author {
	display: flex;
	align-items: center;
	&__img {
		@include block;
		overflow: hidden;
		width: 48px;
		height: auto;
		border-radius: 50%;
		background-color: #2c2f34;
		margin-right: rem(15);
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
	&__caption {
		font-family: PT Sans;
	}

	&__name {
		font-weight: bold;
		white-space: nowrap;
	}
	&__position {
		font-weight: normal;
		font-size: 10px;
		line-height: (13 / 10);
		color: #cfcfcf;
		white-space: nowrap;
	}
}
