mixin sFeedback(data)
	// start sFeedback
	+b.SECTION.sFeedback.section#sFeedback&attributes(attributes)
		.container
			+b.section-title
				h1 Отзывы
				p Показателем качества работы являются довольные клиенты и&nbsp;достигнутые KPI. С&nbsp;клиентами мы&nbsp;строим долгосрочные и&nbsp;взаимовыгодные отношения.
				p В&nbsp;данном разделе представлены отзывы клиентов.
			+e.item
				.row
					.col
						+e.text
							p Лендинг (одностраничный сайт) - один из самых быстрых и эффективных способов для генерации лидов (новых обращений). На его создание требуется меньше времени, чем на создание многостраничного корпоративного сайта. Но конверсия лендинга может достигать ещё больших показателей, чем многостраничник.
							p Действительно, всё просто - на одной странице размещается ваш основной товар или услуга для целевой аудитории, которой это может быть интересно. А значит, шансы на привлечение клиента увеличиваются.
						.row.align-items-center
							.col
								+pic('cases.png','','')(class="sFeedback__footer-img")
							.col-auto
								+b.author
									+pic('ourTeam-2.png','','')(class="author__img")
									+e.caption
										+e.name Антон Резник 
										+e.position Директор инстаграма
					+e.col.col-sm-auto
						+e.img-wrap
							+pic('cases.png','','')(class="sFeedback__img")




	// end sFeedback