// start .sProblem
.sProblem {
	--sPT: #{rem(30)};
	--sPB: #{rem(30)};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(60)};
		--sPB: #{rem(60)};
	}

	--sTPB: ;
	@include media-breakpoint-up(xxl) {
		--sPT: #{rem(85)};
		--sPB: 0;
	}
	position: relative;
	max-width: 1920px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	&-mb {
		margin-bottom: rem(54);
	}

	&__col {
		max-width: 250px;
		@include media-breakpoint-up(lg) {
			max-width: 350px;
		}
		@include media-breakpoint-up(xxl) {
			max-width: 310px;
		}
		@include media-breakpoint-down(xxl) {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}
	}

	.picture-bg {
		opacity: .6;
	}

	.section-title {
		position: relative;

		&__iconWrap {
			position: absolute;
			right: 70%;
			top: 50%;
			
			.icon {
				font-size: rem(180);
				opacity: .5;
				// color: gba(255, 186, 114, 0.0);
				color: #fff8f1;
			}
		}
	}

	h6 {
		@extend .mono2;
	}

	&__btn {
		@extend .btn;
		@extend .btn-primary;
		margin-right: auto;
	}

	&__ebanutyiCol {
		@include media-breakpoint-up(xxl) {
			margin-top: rem(-80);
		}
		clear: both;
	}

	&__img {
		float: left;
		shape-outside: polygon(72.74% -1.2%, 77.27% 3.46%, 81.55% 13.9%, 86.08% 25.01%, 88.37% 52.31%, 87.25% 74.46%, 77.04% 100.16%, 0px 100%, 0px 0px);
		margin-top: -63px;
		margin-right: -40px;
		@include media-breakpoint-only(xxl) {
			margin-left: -200px;
			width: 923px;
			margin-top: -60px;

		}
	}

	ul {
		list-style: none;
		@include media-breakpoint-up(xxl) {
			margin-bottom: 0;
		}
		padding-top: 10px;
		@include media-breakpoint-up(xxxl) {
			padding-top: 20px;
		}
		@include media-breakpoint-down(xxl) {
			padding-left: 20%;
		}
	}

	li {
		display: block;
		@include media-breakpoint-up(xxl) {
			display: inline-block;
		}
		position: relative;
		margin-bottom: 18px;
		background-color: #fff;
		@extend .mono2;
		padding: rem(9) rem(16);
		box-shadow: 1px 2px 0px #DADADA, 8px 12px 7px rgba(253, 130, 11, 0.1);
		border-radius: 8px;

		&::before {
			content: '';
			position: absolute;
			left: -50px;
			position: absolute;
			width: 20px;
			height: 20px;
			background: #FFB86F;
			border: 6px solid #fff;
			border-radius: 50%;
		}
	}



	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sProblem