
$h: em(2);

.toggle-menu-mobile {
	display: block;
	height: $h* 12;
	position: relative;
	color: $primary;
	font-size: 32px;
	width: 40px;
	height: 40px;
	background: #F8F8F9;
	border-radius: 4px;

	&.on {
		color: #ffffff;
	}

	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	}

	span {
		@include a-cent(y);
	}

	span:before {


		top: $h * 1.5;
	}

	span:after {
		bottom: $h * 1.2;
	}

	span { 
		display: block;
	}

	span,
	span:after,
	span:before {
		// width: 32px;
		width: rem(15);
		height: 2px;
		background-color: #000000;
		transition: all 0.3s;
		backface-visibility: hidden;
		// border-radius: 6px;
		transform-origin: 50% 50%;
		@include a-cent(x);
	}

	// &.on {
	// 	// opacity: 0;
	// }

	&.on span {
		background-color: transparent;
	}

	&.on span:after,
	&.on span:before {

		top: 0;
		bottom: 0;
		
	}

	&.on span:before {
		transform: rotate3d(0,0,1, 45deg);
	}

	&.on span:after {
		transform: rotate3d(0,0,1, -45deg);
	}
}

.menu-mobile {
	position: fixed !important;
	z-index: 999;
	max-width: calc(100% - 56px);
	height: calc(var(--vh, 1vh) * 100);
	width: 259px;
	// @include media-breakpoint-up(sm) {
	// 	width: 400px;
	// }
	top: 0;
	// left: 0;
	left: 0;
	&:not(.active){
		transform: translate3d(-120%, 0,0);
		opacity: 0;

	}
	@include mt(.6);
	will-change: transform;

	&__inner {
		background-color: #fff;
		padding: rem(20) rem(12);
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;
	}

	&.active { 
		.toggle-menu-mobile {
			opacity: 1;
		}
	}

	.toggle-menu-mobile {
		// position: relative;
		cursor: pointer;
		position: absolute;
		opacity: 0;
		left: auto;
		right: 8px;
		color: #000;
		top: 15px;
		z-index: 9999;
		background-color: transparent;
		width: 40px;
		height: 40px;
		background: #F8F8F9;

		span,
		span:after,
		span:before {
			background-color: #000;
		}

		&.on {
			opacity: 1;

			span {
				background-color: transparent;
			}
		}
	}

	&__btn {
		@extend .btn;
		@extend .btn-primary;
		display: block;
		margin-left: 8px;
		margin-right: 8px;
		margin-bottom: 24px;
		font-size: 14px;
	}

	&__tel {
		display: inline-block;
		color: $body-color;
		margin-left: auto;
		text-decoration: none;
		margin-right: auto;
		text-align: center;
		position: relative;
		font-weight: 500;
		font-size: rem(24);
		padding-bottom: rem(7);
		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			@include a-cent1(x);
			width: 105%;
			height: 3px;
			background: #FFF6EC;
			border-radius: 15px;
		}
	}

	&__logo {
		display: inline-block;
		max-width: 90px;
		margin-bottom: rem(10);
		// margin-left: 12px;
		img {
			max-width: 100%;
			height: auto;
		}
	}

	ul {
		position: relative;
	}
}