mixin sFastWay(data)
	// start sFastWay
	+b.SECTION.sFastWay.section#sFastWay&attributes(attributes)
		.container
			+b.section-title
				h2 Лендинг - самый быстрый путь к клиентам
			.row
				.col
					+e.text
						p Лендинг (одностраничный сайт) - один из самых быстрых и эффективных способов для генерации лидов (новых обращений). На его создание требуется меньше времени, чем на создание многостраничного корпоративного сайта. Но конверсия лендинга может достигать ещё больших показателей, чем многостраничник.
						p Действительно, всё просто - на одной странице размещается ваш основной товар или услуга для целевой аудитории, которой это может быть интересно. А значит, шансы на привлечение клиента увеличиваются.
				.col-lg-auto
					+e.quote
						blockquote
							p Лендинг + контекстная реклама - один из самых лучших способов быстро получить новые заказы. Для многих бизнесов сейчас это может стать настоящей волшебной палочкой.
						cite Давид Геннадьевич, генеральный директор Digget.



	// end sFastWay